- if @category.errors.any?
  %h2 The following errors prevented the article from saving:
  %ul
    - @category.errors.full_messages.each do |msg|
      %li= msg

= form_for @category do |f|
  %p
    = f.text_field :name, :class => "form-control", :type =>"text", :placeholder => "Name"
  %p
    = f.text_area :description, :class => "form-control", :type =>"text", :placeholder => "Description"
  %p
    = f.submit